:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --black-2: #0000004c;
  --shark: #252525;
  --tango: #f28017;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 15px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-open_sans: "Open Sans", Helvetica;
}
.opensans-extra-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 800;
}

.inter-black-tango-40px {
  color: var(--tango);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 900;
}

.opensans-normal-shark-36px {
  color: var(--shark);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-tango-96px {
  color: var(--tango);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-shark-48px {
  color: var(--shark);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.opensans-normal-shark-15px {
  color: var(--shark);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-black-tango-96px {
  color: var(--tango);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 900;
}
